/Makefile
/CameraControllerFactory_MyOrbitCamera.o
/EntityController_Polyhedron.o
/GeometryRendererFactory_Polyhedron.o
/ICameraControllerFactory.o
/IGeometryRendererFactory.o
/jasmine.exe
/lib/lib_geometry.a
/lib/lib_geometry.dll
/main.o
/mainwindow.o
/moc_EntityController_Polyhedron.cpp
/moc_EntityController_Polyhedron.o
/moc_mainwindow.cpp
/moc_mainwindow.o
/moc_ModelViewerWidget.cpp
/moc_ModelViewerWidget.o
/moc_modelviewerwidget_qt3d.cpp
/moc_modelviewerwidget_qt3d.o
/moc_PolyhedronTreeView_Qt3D.cpp
/moc_PolyhedronTreeView_Qt3D.o
/moc_PolyhedronTreeView_v2.cpp
/moc_PolyhedronTreeView_v2.o
/moc_predefs.h
/moc_View3D.cpp
/moc_View3D.o
/View3D.o
/object_script.jasmine
/PolyhedronTreeView.o
/PolyhedronTreeView_Qt3D.o
/PolyhedronTreeView_v2.o
/ModelViewerWidget.o
/modelviewerwidget_qt3d.o
/MyOrbitCameraController_Qt3D.o
/object_script.jasmine
/jasmine.pro.user
/object_script.jasmine
/debug
/.qmake.stash
/Makefile.Debug
/object_script.jasmine.Debug
/object_script.jasmine.Release
